# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- to learn about data science tools
- to use jupyter notebooks
- to learn about popular languages in data science

## Some of the popular languages that Data Scientists use are:
### 1. Python
### 2. R
### 3. SQL

## Some of the commonly used libraries used by Data Scientists include:
### 1. Numpy
### 2. Pandas
### 3. Matplotlib

| Data Science Tools |
|--------------------|
|MongoDB|
|Hadoop|
|kuberflow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
a=200
b= 200/60
print("200 min is in hours is",b)

200 min is in hours is 3.3333333333333335

## Author
Aakriti Neupane